.card h4,
.card h5,
.card h6 {
  text-align: center;
}

.card-img-top {
  padding-top: 0.25rem;
}

.card-body {
  color: black;
}

.card ul {
  padding-left: 20px;
}

.header-text {
  position: relative;
  top: 40%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);

  color: white;
  text-align: center;
}

.header-title {
  margin-top: 0;
  font-size: 5em;
}

.header-subtitle {
  font-size: 3.4em;
}

@media (max-width: 480px) {
  .header-title {
    font-size: 2em;
  }

  .header-subtitle {
    font-size: 1em;
  }
}

.navbar {
  margin-bottom: 0;
  border: none;
  background-color: transparent;
}

.navbar a {
  color: white !important;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

body {
  padding-top: 50px;
}

footer {
  padding: 2em;
  text-align: center;
  font-size: 1.2em;
}

footer .fa-heart {
  color: #f77380;
}

.headshot {
  align-content: center;
  padding-top: 2em;
  width: 25%;
  border: 5px solid #fff;
}

/* @media (max-width: 480px) {
  .about-wrapper {
    display: block;
  }

  .about-wrapper div:first-child {
    text-align: center;
  }

  .headshot {
    width: 50%;
    margin-bottom: 25px;
  }
} */

.section-title {
  margin-top: 0;
  margin-bottom: 1rem!important;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  color: black;
}

.section-content {
  font-size: 1.4em;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  color: black;
}


/* About Container */

.about-section {
  padding-top: 2em;
  padding-bottom: 2em;
  color: #fff;
}

/* 404 Error Container */

.error-section {
  padding-top: 8em;
  padding-bottom: 2em;
  color: #fff;
  text-align: center;
}


/* Experience Container */

.experience-section {
  border-top: 1px solid gray;
  padding-top: 2em;
  padding-bottom: 2em;
  color: #fff;
}

.project-btn {
  color: white !important;
  align: bottom;
}

.project-footer {
  background-color: white;
}

/* Projects Container */

.projects-section {
  border-top: 1px solid gray;
  padding-top: 2em;
  padding-bottom: 2em;
  color: #fff;
}


/* Skills Container */

.skills-section {
  border-top: 1px solid gray;
  padding-top: 2em;
  padding-bottom: 2em;
  color: #fff;
}

/* Certifications Container */

.certifications-section {
  border-top: 1px solid gray;
  padding-top: 2em;
  padding-bottom: 2em;
  color: #fff;
}

.cert-badge-container {
  text-align: center;
  display: block;
  width: 100%;
}




/* Contact Container */

.contact-section {
  border-top: 1px solid gray;
  padding-top: 2em;
  padding-bottom: 2em;
  color: #fff;
}
