<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/resume">Resume</a></li>
	        		<li><a href="/blog">Blog</a></li>
	        		<li><a href="/projects">Projects</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->

			<footer>
				<div class="footer">
					<div class="wrapper no-pad">
						<ul class="footer-left">
				    	<li><a href="mailto:jgrider2015@gmail.com">email</a></li>
				    	<li><a href="https://github.com/jagrider">github.com/jagrider</a></li>
						</ul>

						<div class="footer-right">
							<a href="/about">Made with <span class="octicon octicon-heart"></span> by Jonathan Grider</a>
						</div>

					</div>
				</div>
			</footer>

		</body>
	</html>
